body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;
	background-color:#f4f3f3;
}

  
.sidenav {
height: 100%;
width: 200px;
position: fixed;
z-index: 1;
top: 10px;
left: 0;
background-color: #111;
overflow-x: hidden;
padding-top: 60px;
}

.log-viewer {
	padding: 6px 6px 10px 10px;

}

.sidenav a {
padding: 6px 6px 6px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
}

.sidenav input {
	background: none!important;
  	border: none;
	padding: 6px 6px 6px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	}

.sidenav input:hover {
	color: #f1f1f1;
	}

.sidenav a:hover {
color: #f1f1f1;
}

.main {
margin-left: 210px; /* Same as the width of the sidenav */
padding-left: 10px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}